  @import url('https://fonts.googleapis.com/css2?family=Baumans&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ***************************top_hero********************* */
.top_hero{
    position: relative;
}

.top_hero .top_hero_content img{
    width: 100%;
    object-fit: contain;
}
.top_hero .top_hero_content .top_hero_text{
    font-family: 'Baumans', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
}
.top_hero .top_hero_content .top_hero_text{
    color: #fff;
    text-align: center;
}
.top_hero .top_hero_content .top_hero_text h1{
    color: #AE0101;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.top_hero .top_hero_content .top_hero_text p{
    color: #AE0101;
    transition: 0.5s ease;
    font-weight: 500;
}
.top_hero .top_hero_content .top_hero_text p a{
    text-decoration: none;
    color: #AE0101;
    transition: 0.5s ease;
    font-weight: 500;
}
.top_hero .top_hero_content .top_hero_text a:hover{
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: underline;
}

/* *******************************Home1******************** */
.home1{
    position: relative;
    background-image:url(../imgs/bg_home1.png);
    /* width: 100%; */
    max-width: 100vw;
    text-align: center;
    min-height: 698px;
    padding: 2rem 1rem;
    background-size: 100% 700px;
    background-repeat: no-repeat;
}
.home1 .home1_content {
    position: relative;
    /* width: 60%; */
    display: flex;
    align-items: flex-start;
    /* height: 100vh; */
    margin: 0 auto;
    justify-content: flex-start;
    /* padding: 1rem; */
}
.home_1_text_area {
    text-align: initial;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.home_1_text_area h1{
    font-size: 2.5rem;
    font-weight: 600;
}
.home_1_text_area h5{
    font-size: 1rem;
    font-weight: 500;
    color: #9B9696;
}
.home_1_text_area p{
    font-size: 0.9rem;
    font-weight: 300;
    color: #9B9696;
}
.home_1_text_area .home_1_btn {
    /* display: flex;
    align-items: center;
    gap: 0.5rem 0;
    justify-content: flex-start; */
}
.home_1_text_area .home_1_btn ul{
    flex-wrap: wrap;
    padding: 0;
}

.home_1_text_area .home_1_btn ul li #home_btn1 {
    color: #fff;
    background-color: #AE0101;
    border-radius: 0;
}
/* .home_1_text_area .home_1_btn ul li #home_btn1:hover{
     color: #AE0101;
    border-color: #AE0101;
    background-color: #fff;
} */
.home_1_text_area .home_1_btn ul li #home_btn2{
    color: #AE0101;
    border-color: #AE0101;
    border-radius: 0;
}
.home_1_text_area .home_1_btn ul li #home_btn2:hover{
    color: #fff;
    background-color: #AE0101;
    border-radius: 0;
}

@media (max-width:700px){
    .home_1_text_area h1{
        font-size: 1.3rem;
        font-weight: 500;
    }
    .home_1_text_area p{
        font-size: 0.9rem;
        color: #9B9696;
    }
}

/* **********************home2********************************* */
.home2{
    position: relative;
    display: flex;
    justify-content: center;
    /* margin: 2rem 0; */
    gap: 1rem 0;
    }

.home2 .home_2_boxes img{
    width:4rem;
    transition: 0.5s ease-in;
    padding-right: 1rem;
}
.home2 .home_2_boxes img:hover{
    transform: scale(1.1);
}
.home2 .home_2_boxes{
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 1rem 0;
}
.home2 .home_2_boxes .home2_text_box h3{
   font-size: 2rem;
   font-weight: 700;
   color: #4D4040;
   margin: 0;
   padding: 0;
}
.home2 .home_2_boxes .home2_text_box p{
   font-size: 0.8rem;
   margin: 0;
   padding: 0;
   color: #4D4040;
    font-weight: 300;
}

/* ***************************************home3***************************** */
.home3{
    position: relative;
    /* margin: 1rem; */
    /* display: none; */
    /* display: none; */
}
.home3 h1{
    font-size: 2.3rem ;
    color: #AE0101;
    font-weight: 700;
    margin: 1rem 0;
}
.home3 .home3_content{
    /* position: relative;
    display: flex;
    align-items: center;
    justify-content: center; */
}
.home3 .home3_content .home3_text{
    /* width: 50%; */
}
.home3  h2{
    color: #4D4040;
    font-weight: 600;
    font-size: 1.9rem;
    /* text-align: justify; */
}
.home3 .home3_content .home3_text p{
    color: #4D4040;
    font-weight: 300;
    font-size: 0.8rem;
    text-align: justify;
}
.home3 .home3_content .home3_text p b{
    color: #4D4040;
    font-weight: 700;
}
.home3 .home3_content .home3_text p span{
    color: #4D4040;
    font-weight: 600;
}

.home3 .home3_content .home3_imgs{
    /* width: 50%; */
}

/* *********For_video*************** */

.home3 .home3_content .home3_imgs .home3_img_boxes{
    /* margin: 1rem ; */
    position: relative;
    /* padding: 1rem; */
    border: 10px solid #AE0101;
}
.home3 .home3_img_boxes .card .video-popup{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: url(../imgs/home_thum_1.jpg);
    background-size: cover;
    background-position: center;
}
.home3 .home3_img_boxes .card .video-popup a{
    position: relative;
    text-align: center;
    color: #AE0101;
    font-size: 3rem;
    display: inline-block;
    /* border-radius: 50%; */
}
.home3 .home3_content .home3_imgs .home3_img_boxes a video{
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}
.home3 .home3_content .home3_imgs .home3_img_boxes img{
    /* width: 16rem; */
    height: 10rem;
    border-radius: 12px;
}
.home3 .home3_content .home3_imgs .home3_img_boxes img:nth-child(1){

}
.home3 .home3_content .home3_imgs .home3_img_boxes img:nth-child(2){
 
}
.home3 .home3_content .home3_imgs .home3_img_boxes img:nth-child(3){
  

}

@media(max-width:1000px){
    
}
@media(max-width:800px){
    .home3 .home3_content{
        flex-direction: column-reverse;
    }
}

/* ***********************************home4********************* */

.home4{
    position: relative;
    margin-top: 1rem;
}
.home4::after{
    position: absolute;
    content: '';
    width: 100%;
    height: inherit;
    background-color: #ae010167;
    inset: 0;
}
.home4 img{
    width: 100%;
    object-fit: contain;
}
.home4 .home4_text{
    font-family: 'Baumans', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
}
.home4 .home4_text{
    color: #fff;
}
.home4 .home4_text h1 a{
    text-decoration: none;
    color: #fff;
    font-family: 'Baumans', cursive;
}

/* ************************************home5************************ */
.home5{
    position: relative;
    background-color:#7D7D7D;
}
.home5 .home5_content{
    position: relative;
}
.home5 .home5_content .home5_top_text{
    position: relative;
    margin:0 3rem;
}
.home5 .home5_content .home5_top_text h1{
    color: #fff;
    font-size: 2.3rem;
    font-weight: 700;
}
.home5 .home5_content .home5_top_text p{
    color: #fff;
    font-size: 1rem;
    text-align: justify;
    width: 100%;
}
.home5 .home5_content .home5_top_text p span{
    color: #fff;
    font-weight: 600;
}
.home5 .home5_content .home5_boxes{
    /* position: relative;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    margin:0;
    padding: 1rem; */
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    /* gap: 1rem 0; */
}
.home5 .home5_content .home5_boxes .home5_box{
    /* width:25rem; */
    position: relative;
    padding: 0;
}
.home5 .home5_content .home5_boxes .home5_box::after{
    position: absolute;
    content: '';
    width: 0;
    height: inherit;
    background-color: #ae010167;
    inset: 0;
}
.home5 .home5_content .home5_boxes .home5_box:hover::after{
    width: 100%;
}
.home5 .home5_content .home5_boxes .home5_box img{
    width: 100%;
}
.home5 .home5_content .home5_boxes .home5_box .home5_box_text{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 1rem;
}
.home5 .home5_content .home5_boxes .home5_box .home5_box_text h6{
   color: #fff;
   font-size: 2rem;
   font-weight: 500;
}
.home5 .home5_content .home5_boxes .home5_box .home5_box_text p{
    color: #fff;
   font-size: 0.8rem;
   font-weight: 400;
}
.home5 .home5_content .home5_boxes .home5_box .home5_box_text a{
   text-decoration: none;
   border: 1px solid #fff;
   color: #fff;
   margin-top:2rem ;
}
.home5 .home5_content .home5_boxes .home5_box .home5_box_text a:hover{
  border: none;
  background-color: #fff;
  color: #AE0101;
}

@media (max-width: 768px) {

    .home5 .home5_content .home5_top_text{
        margin:0 1rem;
    }
  }
@media(max-width:710px){
    .home5 .home5_content .home5_boxes{
        grid-template-columns: repeat(1,1fr);
        gap: 3rem;
        margin:0;
        padding: 1rem;
    }
}

/* *****************Gallery********************** */
.home_gallery{
    position: relative;
    margin: 2rem 0 ;
}

.home_gallery h1{
    text-align: center;
    font-weight: 700;
    font-size: 1.9rem;
    margin: 1rem 0;
    color: #AE0101;
}

  .home_gallery .card img {
    max-width: 100%;
    width: 300px;
    height: 300px;
    max-height: 100%;
  }
  .home_gallery .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    width: 100%;
    border-radius: 12px;
  }

  .home_gallery .text-center a{
    background: #AE0101;
    color: #fff;
    padding: 0.2rem 2rem;
  }
  .home_gallery .text-center a:hover{
    font-weight: 500;
    background: transparent;
    border:1px solid #AE0101;
    color: #AE0101;
  }
  .home_gallery #gallery_area .owl-theme .owl-nav {
	position: absolute;
	top: 45%;
	width: 100%;
}
.home_gallery #gallery_area .owl-prev, #gallery_area .owl-next {
	width: 40px;
	height: 40px;
	line-height: 40px;
    border-radius:8px;
    border: none;
	color: #fff;
	text-align: center;
	background: #AE0101;
	position: absolute;
}
.home_gallery #gallery_area .owl-prev {
	left: 0;
    background-color: #ebebeb;
    color: #AE0101;
}
.home_gallery #gallery_area .owl-next {
	right: 0;
    background-color: #ebebeb;
    color: #AE0101;
}

/* ******************************home6******************** */
.home6{
    position: relative;
    margin: 2rem 0;
  }
.home6 .line{
    border-bottom: 5px solid #AE0101;
  }
.home6 h1{
    font-weight: 700;
    font-size: 2.2rem;
  }
 
  .home6 .card img {
    max-width: 100%;
    width: 300px;
    height: 200px;
    max-height: 100%;
  }
  .home6 .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    width: 100%;
    border-radius: 12px;
  }
 
  .home6 .card-body{
    background-color: #E6E6E6;
    padding: 1rem 1rem 0.5rem 1rem;
    /* border-top:0.8rem solid #fff ; */
    /* border-radius: 12px; */
  }
  .home6 .card-body p{
    margin: 0;

  }
  .home6 .box-area .img-area img {
	width: 100%;
	height: auto;
    border-radius: 5px;
}

.home6 #work_area .owl-nav {
	position: absolute;
	top: -4rem;
    right: 2.5rem;
	/* width: 100%; */
}
.home6 #work_area .owl-prev, #work_area .owl-next {
	width: 40px;
	height: 40px;
	line-height: 40px;
    border-radius:8px;
    border: none;
	color: #fff;
	text-align: center;
	background: #AE0101;
	position: absolute;
}
.home6 #work_area .owl-prev {
	left: -60px;
	/* top: -30px; */
    background-color: #ebebeb;
    color: #AE0101;
}

.home6 .container .text-center a{
    background: #AE0101;
    color: #fff;
    padding: 0.2rem 2rem;
  }
  .home6 .container .text-center a:hover{
    font-weight: 500;
    background: transparent;
    border:1px solid #AE0101;
    color: #AE0101;
  }
  @media only screen and (max-width: 900px) {
    .home6 #work_area .owl-nav {
        display: none;
    }
}

  /* ******************************home7************************* */
  .home7{
    position: relative;
    margin: 2rem 2rem;
  }
  .container{
    /* margin: 02rem; */
    position: relative;
}

.home7 .col-md-12 h1{
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.home7 .box-area {
	padding: 30px;
	position: relative;
    background: url(../imgs/Rectangle\ 11.png);
    background-size: cover;
	color: #000;
	margin: 0 0.3rem;
    display: flex;
    flex-direction: column;
    border-radius: 1px;
    border-top-right-radius: 150px;
    justify-content: flex-start;
    background-color: transparent
}
.home7 .box-area h5 {
	font-size: 16px;
	font-weight: 700;
	color: #0a69ed;
	margin-top: 30px;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
    text-align: justify;
}
.home7 .box-area span {
	color: #262626;
	display: block;
	font-size: 13px;
	margin: 0 0 10px;
	font-weight: 400;
    text-align: justify;
}
.home7 .box-area .content {
	color: #262626;
    text-align: justify;
}
.home7 .box-area .img-area {
	width: 80px;
	height: 80px;
	right: 0;
	z-index: 1;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
}
.home7 .box-area .img-area img {
	width: 100%;
	height: auto;
    border-radius: 5px;
}
.home7 .socials {
	margin-top: 30px;
}
.home7 .socials i {
	margin: 0 10px;
	color: #0a69ed;
	font-size: 18px;
}
.home7 #testimonial_area .owl-nav {
	position: absolute;
	top: -4rem;
    right: 2.5rem;
	/* width: 100%; */
}
.home7 #testimonial_area .owl-prev, #testimonial_area .owl-next {
	width: 40px;
	height: 40px;
	line-height: 40px;
    border-radius:8px;
    border: none;
	color: #fff;
	text-align: center;
	background: #AE0101;
	position: absolute;
}
.home7 #testimonial_area .owl-prev {
	left: -60px;
	/* top: -30px; */
    background-color: #ebebeb;
    color: #AE0101;
}
.home7 #testimonial_area .owl-next {
    /* background-color: red; */
	/* right: -60px; */
	/* top: -30px; */
}

@media only screen and (max-width: 767px) {
	.home7 .box-area {
		text-align: center;
	}
	.home7 .owl-nav {
		display: none;
	}
}

/* ************************home8********************** */
.home8{
    background-color: #AE0101;
}

.home8 .home8_top_text h2{
    font-size: 2.2rem;
    color: #fff;
    font-weight: 700;
}
.home8 .home8_top_text p{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
}
.home8 .home8_right_input .inp{
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid black;
    background: transparent;
    border-radius: 0;
    font-size: 0.9rem;
}
.home8 .home8_right_input .btn1 button{
    display: block;
    width: 100%;
    color: #fff;
    background-color: #0a69ed;
}
.home8 .home8_right_input .btn1 button:hover{
    background: transparent;
    border: 1px solid #0a69ed;
    color: #0a69ed;
}


